.findUser {
  width: 25em;
  margin: 15em auto;
}

#findIdName {
  margin-left: 4em;
  height: 2em;
}

#findIdEmail {
  margin-top: 10px;
  margin-left: 2.8em;
  height: 2em;
}

.findUserLableName {
  font-weight: bold;
}

.findButton {
  margin: 2em 1em 4em 10em !important;
}
