.topColor {
  background-color: rgb(255, 102, 153);
  height: 11px;
}

.mainHeader {
  margin-top: 20px;
  height: 50px;
  border-bottom: 1px solid slategray;
}

#goToReco {
  font-size: 30px;
}

.topheader {
  margin: 0 0 0 10em;
}

.mainImage {
  height: 300px;
}
