.topColor {
  background-color: rgb(255, 102, 153);
  height: 11px;
}

.mainHeader {
  margin-top: 20px;
  height: 50px;
  border-bottom: 1px solid slategray;
}

#goToReco {
  font-size: 30px;
}

.topheader {
  margin-left: 5em;
}

.mainImage {
  height: 300px;
}

#loginButton {
  font-size: 15px;
}

#musicWrite {
  float: right;
  margin-right: 25px;
}

a:visited {
  text-decoration: none;
  color: rgb(255, 102, 153);
}

a:link {
  text-decoration: none;
  color: rgb(255, 102, 153);
}

.mainViewList {
  margin: 10em;
}

/* @media(max-width: 1600px) {
  #musicWrite {
    font-size: 15px;
    margin-left: 40em;
    margin-right: 1em;
  }
} */

/* @media(max-width: 1920px) {
  #musicWrite {
    font-size: 15px;
    margin-left: 60em;
    margin-right: 1em;
  }
} */
