.joinType {
  width: 25em;
  margin: 4em auto;
}

#makeId {
  width: 300px;
  height: 35px;
}

#makePass {
  width: 300px;
  height: 35px;
}

#checkPass {
  width: 300px;
  height: 35px;
  margin-bottom: 10px;
}

#makeName {
  width: 300px;
  height: 35px;
}

#birth {
  width: 300px;
  height: 35px;
}

#sex {
  width: 300px;
  height: 35px;
}

#email {
  width: 300px;
  height: 35px;
}

#phoneNumber {
  width: 300px;
  height: 35px;
}

#idCheckButton {
  margin-left: 20px;
  height: 40px;
}

#makeZipCode {
  height: 40px;
  margin-bottom: 10px;
}
#makeAddress {
  height: 40px;
  width: 300px;
}
