.joinType {
  /* border: 1px solid; */
  width: 30em;
  padding: 20px 28px;
  margin-left: 50em;
  margin-top: 3em;
}

#makeId {
  width: 300px;
  height: 35px;
}

#makePass {
  width: 300px;
  height: 35px;
}

#checkPass {
  width: 300px;
  height: 35px;
  margin-bottom: 10px;
}

#makeName {
  width: 300px;
  height: 35px;
}

#birth {
  width: 300px;
  height: 35px;
}

#sex {
  width: 300px;
  height: 35px;
}

#email {
  width: 300px;
  height: 35px;
}

#phoneNumber {
  width: 300px;
  height: 35px;
}

#idCheckButton {
  margin-left: 20px;
  height: 40px;
}
